body {
	background: #F0F0F0;
	background-color: #F0F0F0;
}

.reveal section img.no-border {
	border: 0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
	background: transparent;
	display: block;
	margin: 0 auto;
}

.reveal .logo-block {
	margin-top: 50px;
}

.selected {
	background: #BDB8AA;
}

.highlight {
	color: #512AA8;
}
